.main-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; 
    min-width: 350px; 
}


h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
}
.about-text {
    padding: 0 5% 5% 5%;
    font-size: 1.2em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.full-accordion {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: rgba(150, 148, 157, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
    color: white;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 5px 10px;
   
}

.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign */
    float: right;
    color: white !important;
   
}

.accordion-content.active {
    max-height: 350px; 
    overflow-y: scroll;
}


.accordion.active:after {
    content: '\002D'; /* Unicode character for "minus" sign */
    color: white !important;
}

.img-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container img {
    width: 90%; 
    max-width: 1200px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(150, 148, 157, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 40px; 
    max-width: 100%;
    height: auto;
}

.img-container p {
    font-size: 0.8em; 
    margin-top: 5px;
}

.img-container a{
    color: white;
    text-decoration: none;
}

.button-group.home-button {
    bottom: 0;  
    width: 100%;         
    display: flex;     
    justify-content: center;
    padding: 10px 0; 
}