:root {
  --purple: #7851a9;
  --white: #e6e6fa;
  --blue: #191970;
  --orange: #e45f2b;
  --teal: #424c4c;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--purple);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: var(--white);
  padding: 10px 0;
}

.logo {
  max-width: 150px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 40px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  flex: 1;
  padding-right: 50px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;   
  max-width: 400px;
  height: auto; 
}

.hero-image video {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.button-group {
  margin-top: 20px;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-primary {
  background: var(--orange);
  color: #fff;
}

.btn-primary:hover {
  background: var(--white);
  color: var(--blue)
}

.btn-secondary {
  background: var(--teal);
  color: var(--white);
}

.btn-secondary:hover {
  background: var(--white);
  color: var(--blue)
}
