:root {
  --purple: #7851A9;
  --white: #E6E6FA;
  --blue: #191970;
  --orange: #e45f2b;
  --teal: #008080;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--purple);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: var(--white);
  padding: 10px 0;
}

.logo {
  max-width: 150px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 40px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  flex: 1;
  padding-right: 50px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;   
  max-width: 400px;
  height: auto; 
}

.hero-image video {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.button-group {
  margin-top: 20px;
}

button {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-primary {
  background: var(--orange);
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
  background: var(--white);
  color: var(--blue);
}

.btn-secondary {
  background: var(--teal);
  color: var(--white);
}

.btn-secondary:hover, .btn-secondary:focus {
  background: var(--white);
  color: var(--blue);
}

.btn-primary:focus, .btn-secondary:focus {
  outline: 2px solid var(--blue);
  outline-offset: 2px;
}

/* password generator section */

.password-generator .flex-container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* show password & passphrase section */

.password-show .flex-container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* password check section */

.password-check .flex-container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}