:root {
  --purple: rgb(120, 81, 169);
  --white: rgb(230, 230, 250);
  --blue: #191970;
  --orange: #e45f2b;
  --teal: #008080;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--white);
  background: linear-gradient(to right bottom, var(--blue), var(--purple), var(--teal), var(--white) );
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(120, 81, 169, 0.1), rgb(25, 25, 112, .8) 40%);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: var(--white);
  padding: 10px 0;
}

.logo {
  max-width: 150px;
}

.card-background {
  background-color: rgba(230, 230, 250, .2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 80px; 
  
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h2 {
  min-width: 350px;;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.button-group {
  margin-top: 20px;
}

button {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-primary {
  background: var(--orange);
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
  background: var(--white);
  color: var(--blue);
}

.btn-secondary {
  background: var(--teal);
  color: var(--white);
}

.btn-secondary:hover, .btn-secondary:focus {
  background: var(--white);
  color: var(--blue);
}

.btn-primary:focus, .btn-secondary:focus {
  outline: 2px solid var(--blue);
  outline-offset: 2px;
}

.hero,
.password-generator, 
.password-show, 
.password-check {
  height: 100vh;
}

/* password generator section */

.password-generator .flex-container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* show password & passphrase section */

.password-show .flex-container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* password check section */

.password-check .flex-container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* loading spinner */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingSpinner {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  margin: auto;
  color: white;
}

.pw-check-content {
  height: 40%;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3{
  font-size: 1.5em;
}

input[type="password"] {
  width: 200px;  
  height: 20px;
  padding: 10px; 
  font-size: 14px; 
  border: 2px solid #aaa;  /* Adjust this value as needed */
    border-radius: 5px; 
}

